*{
    margin: 0;
    padding: 0;
}
#hero{
    background-image: url('./images/blur-coffee-cafe-shop-restaurant-with-bokeh-background-xd.jpg');
    background-size: cover;
    background-position:top;
    height: 70.4vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    filter: brightness(80%) contrast(100%) saturate(90%);
    gap: 18%;

}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
}
#navbar div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 30%;
}
#menu{
    width: 70%;
    list-style: none;
    font-size: 22px;
    padding-left: 10%;
}

#menu ul{
    display: flex;
    justify-content:start;
    align-items: center;
    gap: 4%;
    list-style: none;
    width: 100%;
}

#hero h1{
    font-size: 80px;
    margin-bottom: 20px;
    font-weight: 900;
}

#menu>ul>li>a{

    text-decoration: none;
    color: white;

}

#footer{
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-left: 16% ;
    padding-right: 16% ;
    padding-top: 3%;
    gap: 3%;
    padding-bottom: 4%;

}
#footer>div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5%;
    padding: 2%;
    color: white;
    /* border: 1px solid white; */
    width: 30%;
}
.testimonials{
    background-color: #1A1A1A;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* border: 1px solid white; */
    height: 55%;
    padding: 3%;

}
.testimonials p{
    text-align: center;
    font-size: 18px;
}
.face img{
    position: relative;
    top: -75px;
}

input{
    background-color: white;
    width: 60%;
    border: 1px solid black;
    padding: 2%;
    font-size: 20px;
    margin-bottom: 3%;
}

textarea{
    background-color: white;
    width: 60%;
    /* border: 1px solid black; */
    padding: 2%;
    font-size: 20px;
}