* {
  margin: 0;
  padding: 0;
}
#hero {
  background-image: linear-gradient(rgba(110,4 , 45, 0.3), rgba(4, 9, 30, 0.6)),
    url('./images/close-up-smiley-friends-restaurant.jpg');
  background-size: cover;
  background-position: top;
  height: 99.4vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  filter: brightness(80%) contrast(100%) saturate(90%);
  /* padding-top:15% ; */
  gap: 18%;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
}
#navbar div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  width: 30%;
}
#menu {
  width: 70%;
  list-style: none;
  font-size: 22px;
  padding-left: 10%;
}

#menu ul {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4%;
  list-style: none;
  width: 100%;
}

#hero h1 {
  font-size: 80px;
  margin-bottom: 20px;
  font-weight: 900;
}
#body1 {
  margin-top: 5%;
  padding: 20px 199px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 12%;
  /* border: 1px solid black; */
}
.body1Child {
  display: flex;
  flex-direction: column;
  width: 40%;
  /* border: 1px solid black; */
}
#body2 {
  background-color: #1a1a1a;
  width: 100%;
  /* height: 200px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 3%;
}
.abc {
  display: flex;
  flex-direction: column;
  /* border: 1px solid white; */
  justify-content: center;
  align-items: center;
  width: 600px;
  gap: 2%;
}
.abc div {
  margin-top: 5%;
  text-align: start;
  display: flex;
  flex-direction: column;

  font-size: 20px;
}

#button {
  border: 2px solid white;
  color: white;
  background-color: #1a1a1a;
  padding: 1%;
  margin: 0% 2%;
}
#uni {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#uni div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  margin-top: 2%;
}

#uni img {
  width: 28%;
}

.chi {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test1 {
  background-image: url('./images/medium-shot-friends-with-beer-pub.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 300px;
  width: 100%;
  padding-top: 5%;
  gap: 10px;
}
.test2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  top: -100px;
  gap: 15px;
}

#footer {
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-left: 16%;
  padding-right: 16%;
  padding-top: 3%;
  gap: 3%;
  padding-bottom: 4%;
}
#footer > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 5%;
  padding: 2%;
  color: white;
  width: 30%;
}
.testimonials {
  background-color: #1a1a1a;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid white;
  height: 55%;
  padding: 3%;
}
.testimonials p {
  text-align: center;
  font-size: 18px;
}
.face img {
  position: relative;
  top: -75px;
}

#menu > ul > li > a {
  text-decoration: none;
  color: white;
}
#locationTag{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4%;
  width: 100%;
  
}

@media only screen and (max-width: 768px) {
  /* Adjust hero section */
  #hero {
    /* min-height: auto; */
    padding: 10% 5%;
    gap: 5%;
    width: 90%;
    padding-bottom: 100px !important;
  }
  #heroC > h4 {
    text-align: center;
  }
  #heroC > h1 {
    text-align: center;
  }
  #navbar{
    display: flex;
    /* align-items: start; */
    justify-content: start !important;
    gap: 20px !important;
  }
  #logo > img {
    width: 100px !important;
    margin-left: 20px !important;
  }
  #menu > ul{
    display: flex !important;
    flex-direction: row !important;
  }
  .er{
    display: none;
  }
  #menu {
    width: 100%;
    padding: 0;
  }
  #menu a {
    text-align: center !important;
  }
  #menu li {
    text-align: center !important;
  }

  #menu ul {

    flex-direction: column;
    gap: 2%;
    padding-left: 0;
  }

  /* Adjust body1 and body1Child */
  #body1 {
    flex-direction: column;
    padding: 5% 5%;
    gap: 5%;
  }

  .body1Child {
    width: 100%;
  }

  
  #body2 {
    padding: 5% 5%;
    gap: 5%;
    width: 90%;
  }

  .abc {
    width: 40% !important;
    gap: 5%;
  }
  .bor{
    width: 20% !important;
  }

  #borF{
    width: 90% !important;
    margin-top: 40px !important;
  }

  #men{
    width: 80% !important;
  }

  #qw{
    gap: 7% !important;
    display: flex;
    /* width: 70%; */
    justify-content: space-evenly !important;
  }
  
  .testimonials {
    height: 270px;
    width: 450px;
  }
  .testimonials > h3 {
    margin-bottom: -50px;
    text-align: center;
  }
  .testimonials > p {
    font-size: 14px !important;
  }
  #testP{
    display: flex !important;
    justify-content: center !important;
    gap: 3% !important;
    width: 95% !important;
  }

  .face img {
    top: -50px;
    display:none;
  }

  #footer {
    flex-direction: column;
    padding: 5% 5%;
    gap: 5%;
  }

  #footer > div {
    width: 100%;
    text-align: center;
    margin-top: 2%;
  }
  #footer > h2{
    width: 100% !important;
    text-align: center !important;
    margin: auto;
  }
  #footer > p {
    width: 100% ;
    text-align: center;
  }
  #quick{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 5px !important;

  }
  #location{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 5px !important;

  }
  #locationTag{
    display: flex;
    justify-content: center !important;
    align-items: center;
    gap: 4%;
    width: 100%;
    
  }

  #icons{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 5px !important;
    margin-bottom: 5px;
  }
  #time{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 5px !important;
    margin-bottom: 5px;
  }
}